html, body{
  margin: 0;
  padding: 0;
  text-align:center;
  color: white;
}

body {
    background: url("../images/vadim-sherbakov-127.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
  vertical-align: middle;
  margin-bottom: 10px;
  background:rgba(0,0,0,.5);
}

.header h1{
  margin: 0 0 15px;
  display: inline-block;
}

.header ul{
    list-style: none;
    display: inline-block;
}

.header li{
    display: inline-block;
    margin: 5px 0 0 0;
}

.header li a{
  text-decoration: none;
  color: white;
}

.header li a:focus{
  color: black;
}

.header li a:hover{
    color: black;
}

.main {
}

.main .container .subheading h1{
    margin: 60px;
    padding-bottom: 20px;
}


.main h2{
  margin-bottom: 15px;
}

.footer {
  text-align: center;
  clear: both;
}
