html, body{
  margin: 0;
  padding: 0;
  background-color: black;
  text-align:center;
}

.header{
  vertical-align: middle;
}

.header h1{
  margin: 0 0 15px;
  display: inline-block;
  color: white;
}

.header ul{
    list-style: none;
    display: inline-block;
}

.header li{
    display: inline-block;
    margin: 10px 0 0 0;
}

.header li a{
  color: white;
  text-decoration: none;
}

.header li a:hover, a:active{
  color: black;
  background-color: white;
}

.main {
}

.main h2{
  margin-bottom: 15px;
}

.footer {
  background-color: black;
  text-align: left;
}
